@page
@model AddDataModel
@{
    ViewData["Title"] = "AddData";
}

<div class="container">
    <div class="row">
        <div class="DataForm">
            <div class="AddDataForm" method="post" asp-controller="AddBlock" asp-action="AddData">
                <h2>Data toevoegen</h2>
                <div class="form-group">
                    <label asp-for="surname" class="surname">Achternaam:</label>
                    <input asp-for="surname" class="form-control" maxlength="256" />
                    <span asp-validation-for="surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="bsn" class="bsn">BSN:</label>
                    <input asp-for="bsn" class="form-control" maxlength="9" />
                    <span asp-validation-for="bsn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="birthDate" class="birthDate">Geboortedatum (dd-mm-jjjj):</label>
                    <input asp-for="birthDate" class="form-control" maxlength="16" />
                    <span asp-validation-for="birthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="type" class="type">Type data:</label>
                    <select asp-for="type" class="form-control">
                        <option value="antecedenten">Antecedenten (getal)</option>
                        <option value="aanhoudingen">Aanhoudingen (getal)</option>
                        <option value="heeftISDMaatregel">Heeft ISD Maatregel (ja/nee)</option>
                        <option value="heeftIdBewijs">Heeft ID-Bewijs (ja/nee)</option>
                        <option value="heeftLopendTraject">Heeft Lopend Traject (ja/nee)</option>
                        <option value="heeftOnderzoekRad">Heeft Onderzoek Radicalen (ja/nee)</option>
                        <option value="heeftUitkering">Heeft Uitkering (ja/nee)</option>
                        <option value="laatsteGesprek">Laatste Gesprek (datum: dd-mm-jjjj)</option>
                        <option value="meldingenRad">Meldingen Radicalen (getal)</option>
                        <option value="sepots">Sepots (getal)</option>
                        <option value="zitInGroepsAanpak">Zit In Groepsaanpak (ja/nee)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="value" class="value">Gegevens:</label>
                    <input asp-for="value" class="form-control" maxlength="16" />
                    <span asp-validation-for="value" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Akkoord" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>