@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="HomePage">
            <h1 class="row justify-content-center MainTitle">Blockchain Network</h1>
            <img src="~/images/Overheid.png" alt="AppIcon" style="width: 400px; height: 400px; margin-top: 50px;"/>
        </div>
    </div>
</div>